body {
  background: #292929;
  color: #ffffff;
  font-family:Arial, Helvetica, FreeSans, sans-serif;
  margin: 0;
  padding: 0;
}

#main {
  width: 95%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  background: #3d3d3d;
  border-radius: 4px;
}

a {
  color: #0076DE;
  text-decoration: none;
}

a:hover {
  color: #fff;
}

.update {
  font-size: 12px;
}

#main_content {
  width: 97%;
  margin-left: auto;
  margin-right: auto;
}

#demo {
  width: 70%;
  border: 2px solid #00FBFF;
  border-radius: 4px;
  padding: 10px;
}

#code {
  font-family: "Courier New", Courier, monospace;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #0076DE;
}

#footer {
  width: 100%;
  max-width: 1100px;
  text-align: center;
  font-size: 12px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

input {
  display: block;
  width: 90%;
  max-width: 400px;
  background: #d3d3d3;
  border: 1px solid #0076DE;
  padding: 4px;
  margin-bottom: 10px;
}

input[type="submit"] {
  width: 45%;
  max-width: 200px;
}

input[type="submit"]:hover {
  background: #B8B8B8;
}

h1 {
  margin-top: 10px;
  margin-bottom: 5px;
}

h2 {
  margin-bottom: 0px;
}