/*GENERAL SETTINGS*/
/*Changes background and body text*/
body {background-color: #2C323C !important; color: #CB8145 !important; font-family: font-family:Arial, Helvetica, FreeSans, sans-serif;}

/*Changes the color of the survey background and font color of survey answers*/
.survey {background-color: #fff !important; color: #9AA !important;}
  
/*Changes the color of the survey question font*/
.survey span {color: #9AA !important;}

/*Adds an underline to the message box*/
.message {border-bottom: 1px solid #000;}

/*Changes Whisper Color*/
.supervisor, .has-time, .own, .supports-read-status  {color: #fff !important;}
  
/*AGENT SETTINGS*/
/*Changes the color of your name*/
.chat-window .chat-content .message.own .author, .supervise-window .chat-content .message .author {color: #E06C60 !important;}
  
/*Changes the color of your Font*/
.chat-window .chat-content .message.own .text, .supervise-window .chat-content .message .text   {color: #CB8145 !important;}

/*Changes the background color of the chat agent's rows*/
.chat-window .chat-content .message.integration, .chat-window .chat-content .message.own, .chat-window .chat-content .message.supervisor, .chat-window .chat-content .message.system, .supervise-window .chat-content .message.integration, .supervise-window .chat-content .message.own, .supervise-window .chat-content .message.supervisor, .supervise-window .chat-content .message.system {background-color: #282C34 !important;}


/*VISITOR SETTINGS*/
/*Changes the color of the visitor name*/
.chat-window .chat-content .message.visitor .author, .supervise-window .chat-content .message .author {color: #52A679 !important;}
  
/*Changes the color of the visitor's Font*/
.chat-window .chat-content .message.visitor .text, .supervise-window .chat-content .message .text {color: #CB8145 !important;}

/*Changes the background color of the visitor's rows rows*/
.chat-window .chat-content .message, .supervise-window .chat-content .message {background-color: #282C34 !important;}
