/*GENERAL SETTINGS*/
/*Changes the color of the survey background and font color of survey answers*/
body {background-color: #333333 !important; color: #F0F0F0 !important;}
  
/*Changes the color of the survey question font*/
.survey span {color: #9AA !important;}

/*Adds an underline to the message box*/
.message {border-bottom: 1px solid #000;}

  
/*AGENT SETTINGS*/
/*Changes the color of your name*/
.chat-window .chat-content .message.own .author, .supervise-window .chat-content .message .author {color: #0000FF !important;}
  
/*Changes the color of your Font*/
.chat-window .chat-content .message.own .text, .supervise-window .chat-content .message .text   {color: #009900 !important;}

/*Changes the background color of the chat agent's rows*/
.chat-window .chat-content .message.integration, .chat-window .chat-content .message.own, .chat-window .chat-content .message.supervisor, .chat-window .chat-content .message.system, .supervise-window .chat-content .message.integration, .supervise-window .chat-content .message.own, .supervise-window .chat-content .message.supervisor, .supervise-window .chat-content .message.system {background-color: #A8A8A8 !important;}


/*VISITOR SETTINGS*/
/*Changes the color of the visitor name*/
.chat-window .chat-content .message.visitor .author, .supervise-window .chat-content .message .author {color: #CC0000 !important;}
  
/*Changes the color of the visitor's Font*/
.chat-window .chat-content .message.visitor .text, .supervise-window .chat-content .message .text {color: #9600BF !important;}

/*Changes the background color of the chat visitor's rows*/
.chat-window .chat-content .message, .supervise-window .chat-content .message {background-color: #A8A8A8 !important;}
